<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <!-- systemd journal / console -->
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

    <!-- файл -->
    <target xsi:type="File"
            name="file"
            fileName="/var/log/myworker/app.log"
            archiveEvery="Day"
            maxArchiveFiles="14"
            layout="${longdate}|${level}|${message} ${exception}" />
  </targets>

  <target xsi:type="AsyncWrapper" name="asyncFile">
    <target xsi:type="File" fileName="/var/log/myworker/app.log" />
  </target>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,asyncFile" />
  </rules>
</nlog>
